In [1]:
# Peut être lent au départ car l'hébergement est sur Heroku en low cast à mon avis

# The API is limited to 5 calls/minutes. 
# If you try more, your endpoint will throw back an error.

import requests
import pandas as pd
import json

url = "https://real-time-payments-api.herokuapp.com/current-transactions"

response = requests.get(url)
data = response.json()

if isinstance(data, str):
    data = json.loads(data)

columns = data['columns']
index = data['index']
rows = data['data']

df = pd.DataFrame(data=rows, index=index, columns=columns)

pd.set_option('display.max_columns', None)
display(df)

# Les features du CSV (https://lead-program-assets.s3.eu-west-3.amazonaws.com/M05-Projects/fraudTest.csv)
# ,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
# 0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
# 1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002,40.3207,-110.436,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450497999999996,-109.960431,0

# vide;
# trans_date_trans_time;  # ! N APPARAIT PAS DANS LES DONNEES FOURNIES PAR L'API
# cc_num;
# merchant;
# category;
# amt;
# first;
# last;
# gender;
# street;
# city;
# state;
# zip;
# lat;
# long;
# city_pop;
# job;
# dob;
# trans_num;
# unix_time; # ! APPARAIT EN PLUS DANS LES DONNEES FOURNIES PAR L'API
# merch_lat;
# merch_long;
# is_fraud

,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,merch_lat,merch_long,is_fraud,current_time
72482,4003771737807706,fraud_Klocko LLC,misc_net,9.2,Danielle,Hayden,F,03368 Michelle Trail,Gregory,AR,72059,35.1791,-91.2594,37,"Lecturer, further education",1958-01-01,a2e61dc8fab2f37a566b7550480ad0ab,35.774023,-91.369561,0,1719985636963